<template>
<div class="row">
    <spinner v-show="loading"></spinner>
    <div class="col-sm" v-for="(pokemon) in pokemons" :key="pokemon.id">
        <div class="card text-center" style="width: 18rem; margin-top: 70px">
            <img :src="pokemon.picture" class="card-img-top rounded-circle mx-auto d-block" alt="..." style="width:100px; height:100px; background-color: #EFEFEF; margin: 20px;">
        
            <div class="card-body">
                <h5 class="card-title">{{pokemon.name}}</h5>
                <!-- <a href="/pokemon/{{pokemon.id}}" class="btn btn-primary">ver mas...</a> -->
            </div>
        </div>
    </div>
</div>
</template>

<style scoped>
</style>

<script>
    import EventBus from '../event-bus';

    export default{
        data(){
            return{
                pokemons: [],
                loading: true
            }
        },
        created(){
            EventBus.$on('pokemon-added', data => {
                this.pokemons.push(data)
            });
        },
        mounted(){
            let currentRoute = window.location.pathname;
            axios
                .get(`http://localhost:8000${currentRoute}/pokemon`)
                .then((res)=>{
                    this.pokemons = res.data,
                    this.loading = false;
                })
        }
    }

</script>